<div align="center">

<img src="{{ logo_path }}" alt="{{ title }} Logo" height="150">

<h1 align="center">
    {{ title }}
</h1>

<h3 align="center">
    {{ tagline }}
</h3>

[![License](https://img.shields.io/badge/license-{{ license | replace("-", "--") }}-blue)]({{ license_url }})
![Release](https://img.shields.io/badge/release-{{ version }}-green)
[![DOI](https://img.shields.io/badge/DOI-{{ doi | replace("/", "%2F") }}-yellow)](https://doi.org/{{ doi }})
[![Hugging Face](https://img.shields.io/badge/🤗%20Hugging%20Face-{{ hugging_face.type | title }}-orange)](https://huggingface.co/{{ hugging_face.type }}/{{ hugging_face.repo }})
[![DOI](https://zenodo.org/badge/999932622.svg)](https://doi.org/{{ github_repo_zenodo_doi }})
[![DOI](https://zenodo.org/badge/999932622.svg)](https://doi.org/{{ dataset_zenodo_doi }})


<img src="{{ banner_path }}" alt="{{ title }} Banner" width="100%" style="max-width: 800px;">

</div>

- **Version:** {{ version }}  
- **Published:** {{ published }}  
- **License:** [{{ license }}]({{ license_url }})
- **Code DOI:** {{ github_repo_zenodo_doi }}
{% if dataset_zenodo_doi -%}
- **Dataset DOI:** {{ dataset_zenodo_doi }}
{% endif -%}
{% if github_link -%}
- **Github link** [here]({{ github_link }})
{% endif -%}
- **Hugging Face link** [here]({{ huggingface_link }})
- **Zenodo link** [here]({{ zenodo_link }})

## Description
{{ description }}

## Contributing
Contributions are welcome! Feel free to:
- Report issues.
- Create pull requests.

## Citation

{% if github_repo_zenodo_doi and dataset_zenodo_doi -%}

Here is the citation for the dataset:
```bibtex
@dataset{{ '{' }}{{ contributors[0].name.lower().split()[-1] }}{{ published.split('-')[0] }}{{ title.lower().replace('-', '').replace(' ', '') }}data,
  author = {{ '{' }}{{ contributors[0].name }}{{ '}' }},
  title  = {{ '{' }}{{ title }}: {{ tagline }}{{ '}' }},
  year   = {{ '{' }}{{ published.split('-')[0] }}{{ '}' }},
  url    = {{ '{' }}https://huggingface.co/{{ hugging_face.type }}/{{ hugging_face.repo }}{{ '}' }},
  doi    = {{ '{' }}{{ dataset_zenodo_doi }}{{ '}' }},
  note   = {{ '{' }}Version {{ version }}, {{ contributors[0].affiliation }}{{ '}' }}
}
```


Here is the citation for the code that was used to generate the dataset:
```bibtex
@software{{ '{' }}{{ contributors[0].name.lower().split()[-1] }}{{ published.split('-')[0] }}{{ title.lower().replace('-', '').replace(' ', '') }}code,
  author = {{ '{' }}{{ contributors[0].name }}{{ '}' }},
  title  = {{ '{' }}{{ title }}: Code{{ '}' }},
  year   = {{ '{' }}{{ published.split('-')[0] }}{{ '}' }},
  url    = {{ '{' }}{{ github_link }}{{ '}' }},
  doi    = {{ '{' }}{{ github_repo_zenodo_doi }}{{ '}' }},
  note   = {{ '{' }}Version {{ version }}, {{ contributors[0].affiliation }}{{ '}' }}
}
```

{% else -%}
```bibtex
@dataset{{ '{' }}{{ contributors[0].name.lower().split()[-1] }}{{ published.split('-')[0] }}{{ title.lower().replace('-', '').replace(' ', '') }},
  author = {{ '{' }}{{ contributors[0].name }}{{ '}' }},
  title  = {{ '{' }}{{ title }}: {{ tagline }}{{ '}' }},
  year   = {{ '{' }}{{ published.split('-')[0] }}{{ '}' }},
  url    = {{ '{' }}https://huggingface.co/{{ hugging_face.type }}/{{ hugging_face.repo }}{{ '}' }},
  doi    = {{ '{' }}{{ github_repo_zenodo_doi or dataset_zenodo_doi }}{{ '}' }},
  note   = {{ '{' }}Version {{ version }}, {{ contributors[0].affiliation }}{{ '}' }}
}
```
{% endif -%}

## Contact
If you have any questions, please contact the maintainer at {{ maintainer }}.
